<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.stylefeng.guns.rest.common.persistence.dao.MtimePromoMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.stylefeng.guns.rest.common.persistence.model.MtimePromo">
        <id column="uuid" property="uuid" />
        <result column="cinema_id" property="cinemaId" />
        <result column="price" property="price" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="status" property="status" />
        <result column="description" property="description" />
        <result column="stock" property="stock" />
        <result column="cinema_name" property="cinemaName" />
        <result column="cinema_address" property="cinemaAddress" />
        <result column="img_address" property="imgAddress" />
    </resultMap>
<select id="selectListByCinemaId" resultMap="BaseResultMap">
select p.uuid,p.cinema_id ,p.price,p.start_time,p.end_time,p.status,p.description,s.stock,c.cinema_name,c.cinema_address,c.img_address
from mtime_promo p,mtime_promo_stock s,mtime_cinema_t c where p.uuid=s.promo_id and p.cinema_id=c.uuid
<if test="cinemaId != null">
    and p.cinema_id=#{cinemaId}
</if>
</select>
</mapper>
